{% extends "layout.html" %}

{% block head %}
<!-- Page title -->
<title>Bill-Reminder</title>

<!-- Link to respective CSS stylesheet -->
<link rel="stylesheet" href="../static/css/styles.css">

<!-- Page Icon -->
<link rel="icon" href="../static/img/B.png">
{% endblock %}

{% block body %}
        <center>

            <!-- Welcome to and Bill Reminder Heading -->
            <h5 class="second-animation">WELCOME TO</h5>
            <h1 class="first-animation">BILL REMINDER</h1>

            <!-- Add Reminder Button -->
            
            
            <a class="btn  btn-outline-light" href="{{url_for('add')}}" role="button"><i class="fas fa-plus-circle"></i> Add Reminder</a>
        </center>

        
{% endblock %}