{% extends "layout.html" %}
{% block head %}

        <!-- Page title -->
        <title>Register</title>

        <!-- Link to respective CSS stylesheet -->
        <link rel="stylesheet" href="../static/css/registerstyle.css">

        <!-- Page Icon -->
        <link rel="icon" href="../static/img/B.png">


{% endblock %}
{% block body %}

        <!-- Register Section -->
        <section id="signup-details">
            <center>

                <!-- Sign-Up form -->
                <form action="/action_page.php">

                    <!-- Icon image -->
                   
                    <img class="login-sign" src="{{ url_for('static', filename='img/B.png') }}" alt="logo">

                    <!-- Sign-Up Heading -->
                    <h3 class="Signup-heading">Sign Up</h3>

                    <!-- Username Field -->
                    <input class="input-box" type="text" placeholder="Enter Username" name="username" required>
                    <br>

                    <!-- Password Field -->
                    <input class="input-box" type="password" placeholder="Password" name="Password" required>
                    <br>

                    <!-- Confirm-Password Field -->
                    <input class="input-box" type="password" placeholder="Confirm Password" name="Password" required>
                    <br>

                    <!-- Email Field -->
                    <input type="email" placeholder="Enter Email" name="email id" required>
                    <br>

                    <!-- Phone Number Field -->
                    <input type="tel" placeholder="Enter Phone Number" name="phone_no" required>
                    <br>

                    <!-- Register Button -->
                    <button type="button" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Register</button>
                    
                    <!-- Horizontal Rule -->
                    <hr class="sep">

                    <!-- Link to Login Page -->
                    <p class="login-link">You can go back to Login page by clicking <a href="{{ url_for('login')}}">here</a>.</p>
                
                </form>

            </center>
        </section>
        {% endblock %}